repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        pass_filenames: false
        args: ["--config-file=pyproject.toml", "app"]
        additional_dependencies:
          - fastapi
          - sqlalchemy
          - anyio
          - httpx
          - pytest
          - pydantic
          - pydantic-settings
          - python-jose
          - passlib
